*{
    margin: 0;
    /* border: dashed red 1px; */
    font-family: 'Courier New', Courier, monospace;
}
html,
body{
    height: 100%;
    /* overflow: hidden; */
    /* background-color: black; */
    background-color: azure;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.container{
    display: flex;
    flex-wrap: wrap;

    gap: 1em;

    height: 100%;
    width: 90%;

    /* border: 1px solid black; */
    border-radius: 5px;
    /* overflow: hidden; */
}

.col1, 
.col2{
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    flex: 50%;
    height: 100%;
    /* width: 50%; */
    /* border: 1px solid black; */
}

.col1{
    flex: 25%;
}

.col1 .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: white;
    border-radius: 5px;
    
    padding: 1em;
    border: 1px solid black;
}
.col1 .row1{
    flex: 1;
    align-items: center;
    justify-content: space-around;
}
.col1 .row1 h1{
    text-align: center;
}
.col1 .row1 img{
    border-radius: 100%;
    border: 1px solid black;
    height: 250px;
    width: 250px;
}

.col1 .row2{
    align-items: start;
    /* padding-left: 0; */
    /* padding-right: 0; */
}
.links{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 0.25em 0;
}
.links.bottom-item{
    border-bottom: none;
}
.links.top-item{
    border-top: none;
}
.col1 .row3{
    align-items: start;
}
.languages-cont{
    display: flex;
    align-items: center;

    border-bottom: 1px solid black;
    width: 100%;
    padding: 0.25em 0;

}
#sql-logo{
    height: 20px;
}

.col2 .row1{
    border: 1px solid black;
    height: 100%;
    border-radius: 5px;
    padding: 0.5em;
    background-color: white;
}
.col2 .row1{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.col2 .row1 h1{
    font-size: 50px;
}

.project-container{
    display: flex;
    flex-direction: column;
    /* border: red dashed 1px; */
    overflow: auto;
}
.project-item{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 1em 0;
}
.project-item:hover{
    background-color: rgba(128, 128, 128, 0.5);
}
.project-item:last-child{
    border-bottom: none;
}
.project-item img{
    height: 100px;
}